# If you are unhappy with the service below feel free to copy this file to
# ../Output/openSAM/logostream.cfg
# and enter your own credentials from https://airline.logostream.dev/.
#
url=https://oslogos-242344112437.europe-west1.run.app
#key=default-key
