# This config file specifies plane-specific settings, e.g. chocks, gpu, pca drefs and door positions for jetway connection
#
# Each plane config starts with an icao and optionally studio match, followed by any number of settings. The first matching config will be used.
# Door position is in meters relative to the CG, axes: +x to the left, +y up, +z to the tail

# Toliss A21N
icao	A21N
studio	ToLiss
pax_no_dref	AirbusFBW/NoPax
chk_dref AirbusFBW/Chocks 1
gpu_dref AirbusFBW/EnableExternalPower 1
pca_dref AirbusFBW/GroundLPAir 1
chk_set dref AirbusFBW/Chocks 1
door_1 -1.80 0.61 -15.84

# Toliss A321
icao	A321
studio	ToLiss
pax_no_dref	AirbusFBW/NoPax
chk_dref AirbusFBW/Chocks 1
gpu_dref AirbusFBW/EnableExternalPower 1
pca_dref AirbusFBW/GroundLPAir 1
chk_set dref AirbusFBW/Chocks 1
door_2 -1.90 0.61 -7.65

# Toliss all other planes
icao	A[0-9N]+
studio	ToLiss
pax_no_dref	AirbusFBW/NoPax
chk_dref AirbusFBW/Chocks 1
gpu_dref AirbusFBW/EnableExternalPower 1
pca_dref AirbusFBW/GroundLPAir 1
chk_set dref AirbusFBW/Chocks 1

icao	B738
studio	Laminar Research modified by Zibo and Twkster
dont_connect_jetway

icao MD11
use_engines_on

icao DH8D
use_engines_on

icao R22
use_engines_on

icao ICON
use_engines_on

icao A306
door_2 -3.00 0.80 -10.30

icao A330
door_2 -2.93 1.30 -13.40

icao A333
door_2 -3.00 0.80 -11.50

icao A343
door_2 -3.00 0.75 -11.50

icao A345
door_2 -2.44 1.50 -12.00

icao A346
door_2 -2.44 -0.58 -15.00

icao A359
door_2 -3.20 1.00 -12.50

icao A388
door_2 -3.50 0.83 -12.50

icao B742
door_2 -2.93 1.77 -14.40

icao B744
door_2 -3.38 1.70 -12.30

icao B748
door_2 -3.38 0.41 -13.47

icao B764
door_2 -2.50 1.00 -10.0

icao B772
door_2 -2.97 0.57 -13.08

icao B789
door_2 -3.00 0.30 -10.90

# LevelUp
icao B736
door_1 -1.68 0.08 -9.20
